@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.instagram {
    font-family: 'Pacifico', cursive;
}

::-webkit-scrollbar {
    display: none;
}

.selected-post:hover {
    content: "";
    opacity: 0.5;
    top: 0;
}