@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.instagram {
    font-family: 'Pacifico', cursive;
}

::-webkit-scrollbar {
    display: none;
}

.selected-post:hover {
    content: "";
    opacity: 0.5;
    top: 0;
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    color: white;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
}